<nav>
    <span class="name">Gabor Farkas FullStack Developer</span>
  <p-menubar [model]="topMenuItems">
    <div>
      <input pInputText placeholder="Search" type="text">
      <button icon="pi pi-power-off" label="Logout" pButton style="margin-left:.25em" type="button"></button>
    </div>
  </p-menubar>
</nav>
<section class="container">
  <aside>
    <p-panelMenu [model]="leftMenuItems">
      <div>
        <button icon="pi pi-power-off" label="Logout" pButton style="margin-left:.25em" type="button"></button>
      </div>
    </p-panelMenu>
  </aside>
  <div class="main-body">Main panel</div>
</section>
