* {
  margin: 0;
}
nav{
  height:70px;
  background-color: white;
  text-align: center;
}
.container{
  display: flex;
  height: calc(100vh - 70px);
}
.container .main-body{
  width: 100%;
}
.container aside{
  width: 0;
  overflow-y: auto;
  transition: all 0.5s;
  background-color: white;
}
.container:hover aside{
  width: 200px;
}

.name {
  position: absolute;
  left: 40%;
  top: 55px;
  font-size: x-large;
}
